body {
    margin:0; 
    padding:0;
    font: 14px/17px Helvetica, sans-serif;
    color: #555;
    background-color:#bdb76b;
}
/* header section */
header {
    width:100%;
    background: #bebb86;
    margin:0 0 20px;
    overflow:hidden;
}
header:after {
    clear:both;
}
#logo {
    float:left;
    width:150px;
    height:84px;
}
#logo img {
    border:none;
}
#socials {
    float:left;
    list-style: none;
    padding:0;
    margin:0;
    width:284px;
    overflow:hidden;
}
#socials li {
    display:inline-block;
    width:142px;
    height:142px;
}
header h1 {
    margin: 0 auto;
}
/* navigation section */
nav {
    width:100%;
    overflow:hidden;
}
#nav {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display: inline-block;
    padding: 0 5px;
    margin:0;
}
#nav a,
#nav a:visited {
    color:#008b8b;
    text-decoration: none;
}
#nav a:hover {
    color:#fff;
}
/* main section */
main {
    width:100%;
    padding:10px;
}

main section {
    width:80%;
    overflow:hidden;
    margin:0 0 20px;
    border-bottom:2px solid #008b8b;
}
main p {
    text-align: justify;
    margin:0 0 8px;
}

/* footer section */
footer {
    width:100%;
    padding:10px 0;
}
footer .copyright {
    margin:0;
    font:10px/13px Courier, monospace;
}

