body {
    margin:0; 
    padding:0;
    font: 14px/17px Helvetica, sans-serif;
    color: #555;
    background-color:#bdb76b;
}
/* header section */
header {
    padding:10px;
    background: #bebb86;
    margin:0 0 20px;
    overflow:hidden;
}
#logo {
    display:block;
    width:150px;
    height:84px;
}
#logo img {
    border:none;
}
#socials {
    list-style: none;
    padding:0;
    margin:0;
}
#socials li {
    display:inline-block;
}
header h1 {
    margin: 0 auto;
}
/* navigation section */
nav {
    width:100%;
    overflow:hidden;
}
#nav {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display: inline-block;
    padding: 0 5px;
    margin:0;
}
#nav a,
#nav a:visited {
    color:#008b8b;
    text-decoration: none;
}
#nav a:hover {
    color:#fff;
}
/* main section */
main {
    width:100%;
    padding:10px;
}

main section {
    width:80%;
    overflow:hidden;
    margin:0 0 20px;
    padding:0 0 30px;
    border-bottom:1px dashed #008b8b;
}
main p {
    text-align: justify;
    margin:0 0 8px;
}
form {
    width:100%;
}
form fieldset {
    border:1px solid #bebb86;
    margin:0 0 10px;
}
label {
    display:block;
}
/* footer section */
footer {
    width:100%;
    padding:10px 0;
}
footer .copyright {
    margin:0;
    font:10px/13px Courier, monospace;
    text-align: center;
}

